@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  font-family: "Press Start 2P", monospace;
  font-size: 62.5%;
  background: black;
  color: lightgrey;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#game {
  max-width: 64rem;
  max-height: 48rem;
  width: 100%;
  height: 100%;
}

.text {
  font-size: 1.4rem;
  line-height: 1.2;
}

.text svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: lightgray;
}

.header {
  font-size: 2.4rem;
  letter-spacing: 1.6rem;
}

.scores {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 64rem;
  width: 100%;
  font-size: 6.4rem;
}

.button {
  font-size: 1.4rem;
  border: 2px solid lightgray;
  padding: 1rem;
  text-align: center;
}

.button:hover {
  border: 2px solid lightgray;
  background-color: lightgrey;
  color: black;
}

.github-corner {
  fill: lightgray;
  color: black;
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
